*{
  font-family: 'Poppins', sans-serif;
}
h3{
  font-weight: lighter;
}
h1,h2,h3{
  text-align: center;
}
.slot{
  margin-top:30px;
  border:solid;
  display: none;
}
.slot-title{
  font-size: 18px;
}
.slotInfo{
  padding: 5px;
  margin:5px;
}
body{
  margin:10%;
  margin-top: 20px;
}
.title{
  margin: 0px;
}
